/* General Styles */
body {
    background-color: transparent; /* Fondo del body transparente */
    font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
    margin-bottom: 10px; /* Reducir margen inferior */
}

.navbar-nav .nav-item .nav-link {
    color: #007bff;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Container Styles */
.container {
    padding-top: 10px; /* Reducir padding superior */
    background-color: rgba(255, 255, 255, 0); /* Fondo totalmente transparente */
}

/* Card Styles */
.card {
    margin-bottom: 10px; /* Reducir margen inferior */
    background-color: rgba(255, 255, 255, 0); /* Fondo de la tarjeta transparente */
}

.card-header {
    background-color: rgba(154, 158, 162, 0.8); /* Fondo azul con transparencia */
    color: #fff;
    font-weight: bold;
    font-size: 1rem; /* Ajuste de tamaño de fuente */
}

.card-body {
    background-color: rgba(255, 255, 255, 0); /* Fondo del cuerpo de la tarjeta transparente */
    padding: 10px; /* Ajuste de padding */
}

.card-footer {
    background-color: rgba(248, 249, 250, 0.8); /* Fondo gris claro con transparencia */
    color: #6c757d;
    padding: 10px; /* Ajuste de padding */
}

/* Table Styles */
.table {
    margin-top: 10px; /* Ajuste de margen superior */
    background-color: rgba(255, 255, 255, 0); /* Fondo de la tabla transparente */
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
}

.table thead th {
    background-color: rgba(117, 115, 109, 0.8); /* Fondo amarillo con transparencia */
    color: #fff;
}

.table tbody tr {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo de las filas de la tabla semitransparente */
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(242, 242, 242, 0.5); /* Fondo gris claro con semitransparencia */
}

/* Button Styles */
.btn {
    margin-right: 5px;
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Custom Styles */
.custom-title {
    font-size: 1.2rem; /* Ajuste de tamaño de fuente */
    color: #343a40;
}

.custom-text {
    color: #6c757d;
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
}

/* Estilos para los botones de Inicio, Login y Productos */
.btn-inicio,
.btn-login,
.btn-productos,
.btn-tienda {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
    padding: 6px 12px; /* Ajuste de padding */
}

.btn-inicio:hover,
.btn-login:hover,
.btn-productos:hover,
.btn-tienda:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
}

/* Estilo específico para el contenedor transparente */
.contenido-transparente {
    background-color: rgba(255, 255, 255, 0); /* Fondo totalmente transparente */
    padding: 20px; /* Ajuste de padding */
}

/* Estilo específico para el encabezado de productos */
.productos-header {
    color: #fff; /* Cambiar el color del encabezado a blanco */
}

footer .fa {
    transition: color 0.3s ease;
}

footer .fa:hover {
    color: #007bff; /* Cambia el color al pasar el ratón por encima */
}


.carousel-inner {
    height: auto; /* Ajuste de altura para ocupar más espacio horizontal */
}

.carousel-item img {
    object-fit: cover;
    height: 60vh;
}

.welcome-section {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.welcome-section h1,
.welcome-section p,
.welcome-section a {
    color: #fff;
}

.welcome-section a {
    margin-top: 20px;
}