<!-- proveedor_list.html -->
{% extends 'plantillas/base.html' %}

{% block titulo %} Proveedores {% endblock %}

{% block contenido %}
<h2>Lista de Proveedores</h2>
<a href="{% url 'proveedor_create' %}" class="btn btn-primary">Agregar Proveedor</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.direccion }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.email }}</td>
            <td>
                <a href="{% url 'proveedor_update' proveedor.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'proveedor_delete' proveedor.pk %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
